<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Satisfactory Production Optimazer</title>
</head>
<body>

    <form action="{{ url_for('dev') }}" method="post" novalidate>
        <label for="recipe-select">Choose a recipe:</label><br>

        <select name="recipe" id="recipe-select">
            <option value="">--Please choose a recipe--</option>
            {%for i in range(0, len)%}
                {% set rname = recipes[i]['name'] %}
                 <option value="{{rname}}">{{rname}}</option>
            {%endfor%}
        </select>
        <br>
        <br>
        <label for="n">number needed:</label><br>
        <input type="number" name="n" id="n" value="0">
        <br>
        <br>
        <div>
            <input type="submit" value="Run">
        </div>
    </form>
</body>
</html>